@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  h1{
    font-size: min(10vw, 4rem);
    font-family: Lexend, Sans-Serif;
    font-weight: 400;
  }
  h2{
    font-size: min(8vw, 2.5rem);
    font-family: Lexend, Sans-Serif;
    font-weight: 600;
  }
  h3{
    font-size: min(7vw, 1.35rem);
    font-family: Lexend, Sans-Serif;
    font-weight: 600
  }
  h4{
    font-size: min(6vw, 1.125rem);
    font-family: Lexend, Sans-Serif;
    font-weight: 600
  }
  p{
    font-size: min(6vw, 1.15rem);
    font-family: Molengo, Sans-Serif;
    font-weight: 500;
    line-height: 2rem;
    margin: 8px 0px;
  }
  span{
    font-size: clamp(0.875rem, 1rem, 1.125rem);
    font-family: Molengo, Sans-Serif;
    font-weight: 500;
  }
  li{
    font-family: Lexend, Sans-Serif;
    font-weight: 400;
  }
  li:hover{
    font-weight: 500;
  }
  button{
    font-size: clamp(0.825rem, 0.925rem, 1.25rem);
    font-family: Lexend, Sans-Serif;
    font-weight: 600;
  }
  b{
    font-size: 5rem;
  }
  a, li{
    transition: ease-in 0.2s;
  }
  a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

em{
  color: rgb(00,50,50);
}

@theme {
  --font-heading: 700;
  --color-primary: #005F78;
  --color-base: #0041FF;
  --color-black: rgb(0,0,0);
  --color-base-text: rgba(255,255,250);
  
}